{% extends 'index.html'%}



{%block main%}
<main class="container" >
</hgroup> 
<div class="tools-container" >
  <h3>{{ tool_details.name_of_tool }}</h3>
  <p>{{ tool_details.description }}</p>
</div>
<main class="container" >
  <div class="links">
 
    <a href = "{{tool_details.website_link}}" target="_blank">Click to Sign Up</a>
    <div class="spacer"> </div>
    <a href = "{{ tool_details.youtube_link }}" target="_blank" id="video">Watch Video</a>
  
  </div>

</main>
</main>
{% endblock %}

 {% block container %} 
  <main class="container" >
    <div class="apply-filter-btn" > 
      <a href="https://forms.gle/kT4cvWi76UwEu6A1A" style="text-decoration: none;">
       <button id="filter_btn"  style="color: black; background-color: #ddd;">Contact Us </button>
      </a>
   </div> 
</main>
{% endblock %}

{% block Subscribe %}

{% endblock %}
{% block footer %}
<div class="footer">
    <small>
        <a href="https://www.umso.com/dpa">Privacy Policy</a> • <a href="#">Terms of Service</a>
    </small>
</div>
{% endblock %}


  