{% extends 'index.html'%}

{% block main%}
<div class="spacer2"></div>
<main class="container" >
    <section>
        <hgroup class="head">
            <!-- <div class="spacer1"></div> -->
            <h1 style="font-size: 72px; font-weight: normal;">Learn about the latest AI Tools</h1>
            <h2></h2>
            <!-- <div class="spacer2"></div> -->
            <!-- <h2 >Explore the Latest No-Code AI Tools</h2> -->
        </hgroup>
        <!-- <form class="search-form" action="{% url 'home' %}">
            <div class="searchy">
                <input type="search" id="search-bar" name="search" placeholder="Search AI Tools..." aria-label="Search AI Tools">
                <button type="submit">Search</button>
            </div>
        </form>
        <div class="spacer1"></div>
        <div class="spacer2"></div>
         -->
        <hgroup class="head">
        <!-- <div class="spacer3"></div> -->
        <!-- <hr />
        <div class="spacer3"></div> -->
        
        <!-- <h1 style="font-size: 48px; font-weight: normal;">Categories</h1> -->
        
        <h2>Explore the Tools by Category</h2>
        
    </hgroup>
    <!-- <div class="spacer3"></div> -->
        <form method="get"  id="main-form" action="{% url 'filtered_video' %}">
            <div class="category-list" {% if selected_categories %} style="display: none;" {% endif %}>
                {% for category in categories %}
                    <label class="category-list-item">
                        <input type="checkbox" name="categories[]" value="{{ category.name }}" {% if category.name in selected_categories %}checked{% endif %} {% if selected_categories %}disabled{% endif %}>
                        {{ category.name }}
                    </label>
                {% endfor %}
            </div>
       
         <div class="apply-filter-btn"> 
           <a> <button id="filter_btn" type="submit">Apply Filter</button></a>
        </div> 
    </form>
    <div class="spacer2"></div>
    <!-- <div class="spacer3"></div> -->
    
    <!-- <div class="spacer3"></div> -->
    <hr />
    <hgroup class="head">
        <!-- <div class="spacer3"></div> -->
        <h1 style="font-size: 48px; font-weight: normal;" >Featured Tools</h1>
        <!-- <h2>Explore our curated list of AI tools.</h2> -->
        
            <h2> <b style="color: rgb(4, 161, 213);">{{ c_count }} </b>out of a total of <b style="color: rgb(4, 161, 213);">{{ count }} </b>tools</h2>
        
    </hgroup>
        {% endblock %}

{% block container %}   <div class="featured-tools-container">


    {% for Detail in Details %}
      
    <a href= "{{ Detail.youtube_link }}"><div class="featured-tools-list-item">{{Detail.name_of_tool}}</div></a>
      
    {% endfor %}
      
  </div>
  {% endblock %} 