{% extends 'index.html'%}

{% block main%}
<main class="container" >
    <section>
        <hgroup class="head">
            <h1 style="font-size: 42px; font-weight: normal;">Boost traffic, leads, and sales With AI Tools!</h1>
            <h2></h2>
        </hgroup>
        
        <hgroup class="head">
        
        <h2>Explore the Tools by Category</h2>
        
    </hgroup>
        <form method="get"  id="main-form" action="{% url 'filtered_video' %}">
            <div class="category-list" {% if selected_categories %} style="display: none;" {% endif %}>
                {% for category in categories %}
                    <label class="category-list-item">
                        <input type="checkbox" name="categories[]" value="{{ category.name }}" {% if category.name in selected_categories %}checked{% endif %} {% if selected_categories %}disabled{% endif %}>
                        {{ category.name }}
                    </label>
                {% endfor %}
            </div>
       
         <div class="apply-filter-btn"> 
           <a> <button id="filter_btn" type="submit">Apply Filter</button></a>
        </div> 
    </form>
    <div class="spacer2"></div>
    
    <hr />
    <hgroup class="head">
        <h1 style="font-size: 48px; font-weight: normal;" >Featured Tools</h1>
        <h2> <b style="color: rgb(4, 161, 213);">{{ c_count }} </b>out of a total of <b style="color: rgb(4, 161, 213);">{{ count }} </b>tools</h2> 
    </hgroup>
        {% endblock %}

{% block container %}   <div class="featured-tools-container">


    {% for Detail in Details %}
      
    <a href= "{{ Detail.youtube_link }}"><div class="featured-tools-list-item">{{Detail.name_of_tool}}</div></a>
      
    {% endfor %}
      
  </div>
  {% endblock %} 