<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <title>Learn About AI Tools</title>
  
  <style>
    h1 {
      text-align: center; /* This centers the text in the <h1> tag */
    }
    
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    header {
      background-color: #f2f2f2;
      text-align: center;
      font-size: 2em;
      color: black;
      margin-bottom: 20px;
    }
    
    /* Custom form styling */
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    
    form .form-group {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <header>
    <h1>Explore the latest AI tools</h1>
  </header>
  
  <form method="post" class="container">
    {% csrf_token %}
    
    <!-- Name of Tool Field -->
    <div class="form-group">
      {{ form.name_of_tool.label_tag }}
      {{ form.name_of_tool }}
    </div>
    
    <!-- Description Field -->
    <div class="form-group">
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>
    
    <!-- Tutorial Tool Field -->
    <div class="form-group">
      {{ form.tutorial_tool.label_tag }}
      {{ form.tutorial_tool }}
    </div>
    
    <!-- Ad Field -->
    <div class="form-group">
      {{ form.ad.label_tag }}
      {{ form.ad }}
    </div>
    
    <!-- YouTube Link Field -->
    <div class="form-group">
      {{ form.youtube_link.label_tag }}
      {{ form.youtube_link }}
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>
